<div class='col-sm-3 col-md-3'></div>
<div class='col-sm-6 col-md-6'>
<ul>
  <% @work.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>


<%= form_for @work do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
  <div>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div>
    <%= f.label :info %>
    <%= f.text_field :info %>
  </div>
  <div>
    <%= f.label :media_type %>
    <%= f.text_field :media_type %>
  </div class="btn-group">
  <%= f.submit class: "btn btn-default btn-sm"%>
<% end %>
</div>
<div class='col-sm-3 col-md-3'></div>
