<h1><%= @work.title %> (<%= @work.year %>)</h1>
<h2><%= @work.artist %></h2>

<div>
  <img src="<%= @work.media_type %>">
</div>

<ul>
  <% @work %>
  <p>
    <% if can? :add_dig, @work %>
    <% if @work.digged_works.length > 0 %>
    <%= link_to "&hearts;".html_safe, remove_dig_work_path(@work), method: :delete, class: "dig" %>
    <% else %>
    <%= link_to "&hearts;".html_safe, add_dig_work_path(@work), method: :post, class: "no-dig" %>
    <% end %>
    <% end %>
  </p>
</ul>


<% if can? :update, @work %>
<%= link_to "edit", edit_work_path(@work) %>
<% end %>
<%= link_to "back", root_path(@work) %>
