<div class="center jumbotron" style="background-color:transparent !important">
<div class="center"><h2><%= @work.title %> (<%= @work.year %>)</h2></div>
<br>
<div class="center-block" style = "width:350px"><h2><%= @work.artist %></h2></div>

<div>
  <img src="<%= @work.media_type %>">
</div>

  <div>
    <% if can? :add_dig, @work %>
      <% if @work.digged_works.where(user: current_user).length > 0 %>
        <%= link_to "&hearts;".html_safe, remove_dig_work_path(@work), method: :delete, class: "dig" %>
      <% else %>
        <%= link_to "&hearts;".html_safe, add_dig_work_path(@work), method: :post, class: "no-dig" %>
      <% end %>
    <% end %>
  </div>

<% if can? :update, @work %>
<div class="btn-group">
<%= link_to "edit", edit_work_path(@work), class: "btn btn-default btn-sm" %>
<% end %>
<tr>
<%= link_to "back", root_path(@work), class: "btn btn-default btn-sm" %>
</div>
</div>
